body{
    background-image: url('/images/clear_paper.jpg');
    background-size: 100% 100%;
}

body.step2{
    background-image: url('/images/clear_table.jpg');
}

textarea {
    resize: none;
    background-color: transparent;
    border: none;
}

.spread-bottom{
    min-height:100%;
}

#main-container, #second-container, #third-container{
    padding-top: 20px;
}

.side-panel{
    height: 700px;
}

#paper textarea{
    height:700px;
    width:100%;
    padding: 60px;
}

#toss{
    position: absolute;
    right: 40px;
    bottom: 40px;
}

#sendButton{
    display: block;
    width: 35px;
    height: 35px;
    background-image: url('/images/env_button_white.png');
    background-size: contain;
}

#sendButton:hover{
    display: block;
    width: 35px;
    height: 35px;
    background-image: url('/images/env_button_black.png');
}

#tossButton{
    display: block;
    width: 35px;
    height: 35px;
    background-image: url('/images/trash_button_white.png');
    background-size: contain;
}

#tossButton:hover{
    display: block;
    width: 35px;
    height: 35px;
    background-image: url('/images/trash_button_black.png');
}

.env{
    height:350px;
    /*border: 1px solid black;*/
}

.env input{
    border: none;
    /*border-bottom: 1px solid gray;*/
    background-color: transparent;
}
.env span{
    width: 50px;
    display: inline-block;
}

img.logo{
    width: 110px;
    float: left;
    top: 14px;
    position: relative;
}

.mid-space{
    padding-top: 100px;
}

.env-front{
    background-image: url('/images/env_front.png');
    background-position-x: -166px;
    background-position-y: -94px;
}

.env-back{
    background-image: url('/images/env_back.png');
    background-position-x: -166px;
    background-position-y: -94px;
}
