body{
    background-color: #DBCFAD;
}

textarea {
    resize: none;
}

.spread-bottom{
    min-height:100%;
}

#main-container, #second-container, #third-container{
    padding-top: 20px;
}

.side-panel{
    height: 700px;
}

#paper textarea{
    height:700px;
    width:100%;
    padding: 15px;
}

#toss{
    position: absolute;
    right: 40px;
    bottom: 40px;
}

#sendButton{
    display: block;
    width: 35px;
    height: 35px;
    background-image: url('/images/env_button_white.png');
    background-size: contain;
}

#sendButton:hover{
    display: block;
    width: 35px;
    height: 35px;
    background-image: url('/images/env_button_black.png');
}

#tossButton{
    display: block;
    width: 35px;
    height: 35px;
    background-image: url('/images/trash_button_white.png');
    background-size: contain;
}

#tossButton:hover{
    display: block;
    width: 35px;
    height: 35px;
    background-image: url('/images/trash_button_black.png');
}

.env{
    height:350px;
    border: 1px solid black;
}

.env input{
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
}
.env span{
    width: 50px;
    display: inline-block;
}

img.logo{
    width: 110px;
    float: left;
    top: 14px;
    position: relative;
}

